/*Menus & Action Sheets & Modals*/

$theme-dark-menu-hider: rgba(0,0,0,0.7);
$theme-light-menu-hider: rgba(0,0,0,0.35);

/*--Menu System---*/
.menu-title {
    position:relative;
	h1 {
		font-size: 28px;
		font-weight: 700;
		padding: 20px 0px 10px 15px;
	}
	p {
        font-weight:600;
        font-size:12px;
		margin: 15px 0px -25px 15px!important;
		padding: 0px 0px 0px 0px;
	}
	a {
		font-size: 20px;
		color: $red;
		position: absolute;
		text-align: center;
		width: 55px;
		right: 0px;
        top:50%;
        margin-top:-13px;
    }
}
.menu-bg {
	background-color: $theme-light-background; 
}
.menu-hider {
	position: fixed;
	top: -100px;
	bottom: -100px;
	left: 0px;
	right: 0px;
	background-color: $theme-light-menu-hider;
	z-index: 100;
	pointer-events: none;
	opacity: 0;
	transition: $globalTransitions;
}
.menu {
	position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: $theme-light-structure;
	z-index: 101;
	overflow: scroll;
	transition: $globalTransitions;
	-webkit-overflow-scrolling: touch;
	.content {
		margin-bottom: 0px !important;
	}
}
.menu-box-left {
	left: 0px;
	top: 0px !important;
	width: 250px;
	height: 100%;
	bottom: 0px;
	transform: translate3d(-100%,0,0);
}
.menu-box-right {
    display:none;
	right: 0px;
	transform: translateX(100%);
	top: 0px !important;
	height: 100%;
	bottom: 0px;
	width: 250px;
}
//.menu-header .card-top{
//    padding-top: calc(4px + (constant(safe-area-inset-top))) !important;
//    padding-top: calc(4px + (env(safe-area-inset-top))) !important;
//}
//
.menu-box-top {
	transform: translate3d(0, -115%, 0);
	top: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
}

.menu-box-bottom {
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
	transform: translate3d(0, 120%, 0);
}
.menu-box-modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease;
}
.menu-box-top.menu-box-detached {
	top: 10px;
	left: 10px;
	right: 10px;
}
.menu-box-bottom.menu-box-detached {
	bottom: 40px;
	left: 10px;
	right: 10px;
}
.menu-box-left.menu-active {transform: translate3d(0%, 0, 0) !important;}
.menu-box-right.menu-active {transform: translate3d(0%, 0, 0) !important;}
.menu-box-top.menu-active {transform: translate3d(0%, 0, 0) !important;}
.is-on-homescreen {
	.menu-box-top.menu-active {
		transform: translate3d(0%, 40px, 0) !important;
	}
}
.menu-box-bottom.menu-active {
	transform: translate3d(0%, 20px, 0) !important;
}
.menu-box-bottom-full.menu-active {
	transform: translate3d(0%, 0px, 0) !important;
}
.menu-box-modal.menu-active {
	transition: all 200ms ease;
	pointer-events: all !important;
	opacity: 1 !important;
	transform: translate(-50%, -50%) !important;
}
.menu-hider.menu-active {
	transition: $globalTransitions;
	opacity: 1;
	pointer-events: all;
}
.menu-hider.menu-active.menu-active-clear {
	background-color: $color-transparent !important;
}
.menu-box-left[data-menu-effect="menu-reveal"] {
	opacity: 0;
	pointer-events: none;
	transform: translate(0px) !important;
	z-index: 96;
}
.menu-box-right[data-menu-effect="menu-reveal"] {
	opacity: 0;
	pointer-events: none;
	transform: translate(0px) !important;
	z-index: 96;
}
.menu-active.menu {
	opacity: 1 !important;
	transition: $globalTransitions;
	pointer-events: all !important;
}
.menu-active {
	opacity: 1 !important;
}
.menu-active-no-click {
	opacity: 1;
	background-color: $theme-dark-menu-hider;
	pointer-events: all !important;
}
#menu-install-pwa-ios {
	overflow: visible !important;
}
.fa-ios-arrow {
	transform: translateY(4px);
}
.theme-light {
	.fa-ios-arrow {
		color: $color-white !important;
	}
}

.menu-open{
    overflow:hidden!important;
}

/*Menu Design*/

.list-menu a{
    border-bottom:0px!important;
    margin-bottom:-5px;
    margin-top:-5px;
}



.list-menu a i:first-child{font-size:17px!important;}
.list-menu a span{font-size:15px!important; font-weight:600!important; font-family:$font-main-family;}
.list-menu a strong{font-size:11px!important;}
.list-menu a i:last-child{margin-right:10px;}
.list-menu .menu-active::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 24px;
  font-size: 10px;
  margin-top: 1px;
  content: "\f111";
  opacity: 1;
  color: #A0D468;
}