body {
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*intro-css-start*/
header.header_section {
    position: absolute;
    display: block;
    width: 100%;
    float: left;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
}

.mid_menu_header {
    position: relative;
    padding: 45px 0;
}

.header_logo img {
    width: 111PX;
    height: 35PX;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-brs .top-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid #f9f9f9;
    padding-bottom: 15px;
}

.header_navigation {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Anek Latin', sans-serif;
    font-weight: 500;
    padding: 0;
}

span.toggle_menu {
    display: none;
}

.last-mains ul {
    display: flex;
}

.header.toggle .sidenavs {
    width: 50%;
    cursor: pointer;
}

.sidenavs {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.sidenavs .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;

}

.menu_navigation,
.menu-btns {
    display: flex;
    align-items: end;
    margin-right: 40px;
}

.sidenavs a {
    font-size: 18px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    padding: 27px 13px;
    position: relative;
    text-decoration: none;

}


li.lst-btn a:last-child {
    margin-right: 0;
}

.navbar-btn a {
    background: #fff;
    color: #8AB800;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 17px;
    border: 1px solid #8AB800;
    font-family: 'Poppins';
}

.navbar-btn a:hover {
    background: #8AB800;
    color: #fff;
}

a.green-btn {
    background: #8AB800;
    color: #fff;
    margin: 0 10px 0;
}

a.green-btn:hover {
    background: #ffffff !important;
    color: #8AB800;
    margin: 0 10px 0;
}

.epiyayfood-picture {
    display: flex;
    justify-content: end;

    height: 100vh;
}

.zipcode {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    gap: 10px;
    width: 90%;
    padding: 10px 20px;
}

.epiyayfood-content h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
}

.epiyayfood-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    background: #8ab800;
}

section.epiyayfood {
    background: #8ab800;
}

.epiyayfood-picture img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}

.epiyayfood-content p {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.zipcode i.fa-solid.fa-arrow-right {
    height: 30px;
    width: 30px;
    background: #8ab800;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.zipcode i.fa-solid.fa-location-dot {
    color: #787878;
}

.zipcode input[type="text"] {
    color: #fff;
    width: 90%;
    border: none !important;
}

.googlleplay-btn {
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    gap: 10px;
}

/*intro-css-end*/

/*index-css-start*/
.headermain-flex {
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.site-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.headermain-searchbar {
    display: flex;
    width: 20%;
    justify-content: center;
}
.site-nav li {
  list-style: none;
}
.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    color:#000000;
    font-weight: 500;
    text-decoration: none;
}
#search-wrapper{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: stretch;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    background: #EDEEEF;
    }
    #search{
        border:none;
        width:350px;
        font-size: 15px;
    }
    #search:focus{
        outline: none;
    }
    .search-icon {
        margin: 10px;
        color: rgba(26, 7, 0, 0.40);
    }
    input#search {
        display: flex;
        width: 334px;
        height: 35px;
        padding: 6px 16px;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
        background: #EDEEEF;
    }
    .headermain-links {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headermain-searchbar {
        display: flex;
    }
    .headermain-logo {
        width: 20%;
        text-align: center;
    }
    .headermain-searchbar .navbar-btn a {
        background: transparent;
        color: #8AB800;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        border-radius: 5px;
        padding: 7px 17px;
        border: 1px solid #8AB800;
        font-family: 'Poppins';
        text-decoration: none;
        margin-right: 20px;
    }
    span.numeric {
        color: #8AB800;
        font-size: 14px;
    }
    .numericflex {
        display: flex;
        align-items: end;
        gap: 2px;
    }
    .headermain-links a.navbtn {
        border-radius: 5px;
        padding: 8px 24px !important;
        background: #8AB800;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 10px;
    }
    .headermain-links a.navbtn1 {
        border-radius: 5px;
        padding: 8px 24px !important;
        background: #EDEEEF;
        color: #000000 !important;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .dropdown-content {
        position: relative;
        width: 200px;
    }
    nav.site-nav {
        display: flex;
    }
    
      
      .select li {
        display: none;
        cursor: pointer;
        padding: 5px 10px;
        border-top: 1px solid black;
        min-width: 150px;
      }
      
      .select li:first-child {
        display: block;
        border-top: 0px;
      }
      
      .select {
        border: 1px solid black;
        display: inline-block;
        padding: 0;
        border-radius: 4px;
        position: absolute;
      }
      
      .select li:hover {
        background-color: #ddd;
      }
      
      .select li:first-child:hover {
        background-color: transparent;
      }
      .dropdowndd {
        margin: 10px 0;
    }
      .select.open li {
        display: block;
      }
      
      .select span:before {
        position: absolute;
        top: 5px;
        right: 15px;
        content: "\2193";
      }
      
      .select.open span:before {
        content: "\2191";
      }
      .dropdown-content ul.select {
        display: block;
    }
    button.btn.btn-secondary.dropdown-toggle {
        background: none;
        border: none;
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
    }
    .dropdown-toggle::after {
        background-image: url(../images/new/chevronup.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 24px;
        width: 24px;
        top: 7px;
        position: absolute;
        border: none;
    }
    
    .btn-check:focus+.btn-secondary, .btn-secondary:focus {
        box-shadow: none !important;
    }

/*index-css-end*/